<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Directory</p>
    <a href="flights/new">ADD FLIGHTS</a>
    <a href="flights/index">ALL FLIGHTS</a>
  </body>
</html>
