body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  display: grid;
  align-content: center;
  color: #00b7ff;
}

#flightTable {
  display: grid;
  border-style: dashed;
  grid-gap: 1rem;
}
